<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top" title="{{site.title}}">
                  <img class="img-responsive" src="img/dumpark-icon.png" alt="">
                </a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to dumpark informatioin design</div>
                <div class="intro-heading">Our new website coming soon...</div>
                <p>
                  In the meantime you can contact us here:
                  <a href="mailto:hello@dumpark.com" class="">hello@dumpark.com</a>
                </p>
                <p>
                  dumpark is an agency specialising in data visualisation and infographics. Our passion is to turn data into a visual narrative to share and help understand complex information. We enjoy data visualization, visual storytelling, infographics, interactive web applications & tools, data analysis, software development, consulting, website design & programming, graphic design and illlustration.
                </p>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
